In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [3]:
# File To Load
planet_data_to_load = Path("PS_2025.01.28_17.46.07.csv")

# Read Data
planetData = pd.read_csv(planet_data_to_load, skiprows=31)

# Display First Few Rows
planetData.head()

,pl_name,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,pl_orbpererr1,pl_orbpererr2,...,pl_radeerr2,pl_radelim,pl_bmasse,pl_bmasseerr1,pl_bmasseerr2,pl_bmasselim,sy_dist,sy_disterr1,sy_disterr2,releasedate
0,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,0,326.03000,0.32,-0.32,...,NaN,NaN,6165.60000,476.70000,-476.70000,0.0,93.1846,1.9238,-1.9238,2014-05-14
1,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,0,NaN,NaN,NaN,...,NaN,NaN,5434.70000,540.30000,-413.20000,0.0,93.1846,1.9238,-1.9238,2014-07-23
2,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,0,323.21000,0.06,-0.05,...,NaN,NaN,4914.89849,39.09289,-39.72855,0.0,93.1846,1.9238,-1.9238,2023-09-19
3,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,0,516.21997,3.20,-3.20,...,NaN,NaN,4684.81420,794.57500,-794.57500,0.0,125.3210,1.9765,-1.9765,2018-09-06
4,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,0,516.22000,3.25,-3.25,...,NaN,NaN,3337.07000,785.01000,-785.01000,0.0,125.3210,1.9765,-1.9765,2014-05-14

In [10]:
# Drops columns we don't need
planetSort = planetData.drop(['pl_orbpererr1', 'pl_orbpererr2', 'pl_radeerr1', 'pl_radeerr2', 'pl_bmasseerr1', 'pl_bmasseerr2', 'sy_disterr1', 'sy_disterr2', 'pl_orbperlim', 'pl_radelim', 'pl_bmasselim', 'pl_controv_flag'], axis=1)
planetSort.head()

,pl_name,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_orbper,pl_rade,pl_bmasse,sy_dist,releasedate
0,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,326.03000,NaN,6165.60000,93.1846,2014-05-14
1,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,NaN,NaN,5434.70000,93.1846,2014-07-23
2,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,323.21000,NaN,4914.89849,93.1846,2023-09-19
3,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,516.21997,NaN,4684.81420,125.3210,2018-09-06
4,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,516.22000,NaN,3337.07000,125.3210,2014-05-14

In [12]:
# Renames columns to make them easier to understand
planetSort.columns = ['Planet Name', 'Number of Stars', 'Number of Planets', 'Discovery Method', 'Discovery Year', 'Discovery Facility', 'Orbital Period (days)', 'Planet Radius (Earth Radius)', 'Planet Mass', 'Distance From Earth', 'Release Date']
planetSort.head()

,Planet Name,Number of Stars,Number of Planets,Discovery Method,Discovery Year,Discovery Facility,Orbital Period (days),Planet Radius (Earth Radius),Planet Mass,Distance From Earth,Release Date
0,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,326.03000,NaN,6165.60000,93.1846,2014-05-14
1,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,NaN,NaN,5434.70000,93.1846,2014-07-23
2,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,323.21000,NaN,4914.89849,93.1846,2023-09-19
3,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,516.21997,NaN,4684.81420,125.3210,2018-09-06
4,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,516.22000,NaN,3337.07000,125.3210,2014-05-14

In [33]:
# Converts the last column to 'Datetime' data type, then sorts the rows so that no duplicate entries appear
planetSort['Release Date'] = pd.to_datetime(planetSort['Release Date'], format='mixed')
recentDates = planetSort.groupby('Planet Name')['Release Date'].max()
planetCleanedFinal = planetSort.merge(recentDates, on=['Planet Name', 'Release Date'])
planetCleanedFinal.drop_duplicates(subset='Planet Name', inplace=True, keep="last")
planetCleanedFinal.head()

,Planet Name,Number of Stars,Number of Planets,Discovery Method,Discovery Year,Discovery Facility,Orbital Period (days),Planet Radius (Earth Radius),Planet Mass,Distance From Earth,Release Date
0,11 Com b,2,1,Radial Velocity,2007,Xinglong Station,323.21000,NaN,4914.89849,93.1846,2023-09-19
1,11 UMi b,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,516.21997,NaN,4684.81420,125.3210,2018-09-06
2,14 And b,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,186.76000,NaN,1131.15130,75.4392,2023-09-19
3,14 Her b,1,2,Radial Velocity,2002,W. M. Keck Observatory,1765.03890,NaN,2559.47216,17.9323,2023-06-12
4,16 Cyg B b,3,1,Radial Velocity,1996,Multiple Observatories,799.45000,NaN,556.83537,21.1397,2021-09-20
5,17 Sco b,1,1,Radial Velocity,2020,Lick Observatory,578.38000,NaN,1373.01872,124.9530,2021-10-25
6,18 Del b,2,1,Radial Velocity,2008,Okayama Astrophysical Observatory,982.85000,NaN,2926.24614,76.2220,2023-09-19
9,1RXS J160929.1-210524 b,1,1,Imaging,2008,Gemini Observatory,NaN,NaN,3000.00000,139.1350,2015-04-01
10,24 Boo b,1,1,Radial Velocity,2018,Okayama Astrophysical Observatory,30.33000,NaN,280.64248,95.9863,2023-09-19
11,24 Sex b,1,2,Radial Velocity,2010,Lick Observatory,452.80000,NaN,632.46000,72.0691,2014-05-14
12,24 Sex c,1,2,Radial Velocity,2010,Lick Observatory,883.00000,NaN,273.32000,72.0691,2014-05-14
13,2M0437 b,1,1,Imaging,2021,Subaru Telescope,NaN,NaN,1271.31363,128.4840,2021-12-13
14,2MASS J01033563-5515561 AB b,2,1,Imaging,2013,Paranal Observatory,NaN,NaN,4131.79000,NaN,2020-09-03
15,2MASS J01225093-2439505 b,1,1,Imaging,2013,W. M. Keck Observatory,NaN,11.209,NaN,33.8281,2015-09-03
16,2MASS J02192210-3925225 b,1,1,Imaging,2015,Cerro Tololo Inter-American Observatory,NaN,16.141,4417.83700,NaN,2015-05-14
17,2MASS J0249-0557 c,2,1,Imaging,2018,Mauna Kea Observatory,NaN,NaN,3686.80952,66.0613,2024-05-13
18,2MASS J03590986+2009361 b,1,1,Imaging,2024,European Space Agency (ESA) Gaia Satellite,NaN,NaN,5720.91133,117.4350,2024-05-08
19,2MASS J04414489+2301513 b,1,1,Imaging,2010,Hubble Space Telescope,NaN,NaN,2383.60000,NaN,2014-05-14
20,2MASS J11011926-7732383 b,1,1,Imaging,2024,European Space Agency (ESA) Gaia Satellite,NaN,NaN,8899.19540,NaN,2024-05-08
21,2MASS J11550485-7919108 b,1,1,Imaging,2024,European Space Agency (ESA) Gaia Satellite,NaN,NaN,6356.56814,100.8620,2024-05-07
22,2MASS J12073346-3932539 b,1,1,Imaging,2004,Paranal Observatory,NaN,NaN,1589.15000,64.3080,2016-02-25
23,2MASS J19383260+4603591 b,2,3,Eclipse Timing Variations,2015,Kepler,406.00000,NaN,591.16084,396.3320,2022-04-19
24,2MASS J21252752-8138278 b,1,1,Imaging,2024,European Space Agency (ESA) Gaia Satellite,NaN,NaN,3813.94088,34.1154,2024-05-07
25,2MASS J22362452+4751425 b,1,1,Imaging,2016,W. M. Keck Observatory,NaN,NaN,3972.87500,69.5737,2016-11-10
26,30 Ari B b,4,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,335.10001,NaN,4392.41060,44.6570,2018-09-06
27,4 UMa b,1,1,Radial Velocity,2006,Thueringer Landessternwarte Tautenburg,270.27000,NaN,2511.48007,73.4603,2023-09-19
28,42 Dra b,2,1,Radial Velocity,2008,Thueringer Landessternwarte Tautenburg,479.10000,NaN,1233.13000,90.6545,2014-05-14
29,47 UMa b,1,3,Radial Velocity,1996,Lick Observatory,1076.60000,NaN,774.86566,13.7967,2021-09-20
30,47 UMa c,1,3,Radial Velocity,2001,Lick Observatory,2287.00000,NaN,157.96072,13.7967,2021-09-20
31,47 UMa d,1,3,Radial Velocity,2009,Lick Observatory,19000.00000,NaN,479.92089,13.7967,2021-09-20

In [37]:
planetCleanedFinal.to_csv('exoplanetDataClean.csv', index=False)